# -----------------------------
# Python Virtual Environment
# -----------------------------
.venv/

# -----------------------------
# Python Cache
# -----------------------------
__pycache__/
*.pyc

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# SQLite Database
# -----------------------------
database/*.db

# -----------------------------
# Temporary Files
# -----------------------------
temp_resume.pdf

# -----------------------------
# Generated Reports
# -----------------------------
exports/
reports/

# -----------------------------
# User Data
# -----------------------------
data/

# -----------------------------
# Operating System Files
# -----------------------------
.DS_Store
Thumbs.db